In [105]:
import STARTHER
import nvdbapiv3
import pandas as pd
import geopandas as gpd
from shapely import wkt
import xmltodict
from xml.parsers.expat import ExpatError
import json

# Analyse av systemobjekt

In [65]:
sok = nvdbapiv3.nvdbFagdata( 794)
mydf = pd.DataFrame( sok.to_records( relasjoner=True ))

Eksport av 134267 objekter kommer til å ta tid...
Objekt 1000 av 134267
Objekt 5000 av 134267
Objekt 10000 av 134267
Objekt 20000 av 134267
Objekt 30000 av 134267
Objekt 40000 av 134267
Objekt 50000 av 134267
Objekt 60000 av 134267
Objekt 70000 av 134267
Objekt 80000 av 134267
Objekt 90000 av 134267
Objekt 100000 av 134267
Objekt 110000 av 134267
Objekt 120000 av 134267
Objekt 130000 av 134267
Manglende geometri-element for 7 vegobjekter fra dette søket
nvdbFagdata: Søkeobjekt for vegobjekter fra NVDB api V3
ObjektType: 794 Systemobjekt
Filtere
{}
Parametre som styrer responsen:
{
    "inkluder": [
        "alle"
    ]
}
Statistikk fra NVDB api V3
{
    "antall": 134267,
    "lengde": 0.0
}
Pagineringsinfo: Antall objekt i databuffer= 0
{
    "antall": 1000,
    "hvilken": 1,
    "meredata": false,
    "initielt": false,
    "dummy": false
}
fra miljø https://nvdbapiles-v3.atlas.vegvesen.no/

In [69]:
def hvilkeForeldre( rel:dict): 
    returnval = '-99 Uten foreldre'
    
    if not pd.isnull( rel ) and 'foreldre' in rel: 
        temp = [ str( x['type']['id'] ) + ' ' + str( x['type']['navn'] )  for x in rel['foreldre'] ]
        temp.sort()
        returnval = ','.join( temp )
        
    return returnval

In [70]:
mydf['hvilkeForeldre'] = mydf['relasjoner'].apply( hvilkeForeldre )

In [71]:
mydf['hvilkeForeldre'].value_counts( dropna=False)

95 Skiltpunkt                     44338
79 Stikkrenne/Kulvert             39625
83 Kum                            24949
87 Belysningspunkt                13316
98 Referansestolpe                 4921
7 Gjerde                           1349
20 Kantstolper/Refleks              870
-99 Uten foreldre                   801
174 Gangfelt                        742
25 Leskur                           632
3 Skjerm                            580
27 Renovasjon                       574
103 Fartsdemper                     419
23 Vegbom                           166
342 Trafikkspeil                    129
28 Utemøbler                        116
90 Signalpunkt                      111
519 Vegoppmerking, tverrgående      107
181 Lysmast                          99
502 Skap, teknisk                    82
465 Utgår_Matepunkt                  81
623 Stativ for turistinfo            63
22 Ferist                            62
163 Kamera                           23
24 Skiltportal                       22
65 Bygning                           21
542 Støtpute                         14
73 Sikringsbolt                       7
165 Vindmåler                         5
85 Pumpe                              4
210 Pumpestasjon                      4
481 Tennpunkt                         4
461 Elektrisk anlegg                  2
97 Variabelt skilt                    1
Name: hvilkeForeldre, dtype: int64

In [90]:
normaliser_beskrivelse( mydf.iloc[4063]['Beskrivelse'] )

[{'vegreg_frapos.gnss_data.talker': 'GN',
  'vegreg_frapos.gnss_data.mode': 'DD',
  'vegreg_frapos.gnss_data.antsat': '17',
  'vegreg_frapos.gnss_data.cq': '0.301',
  'vegreg_frapos.gnss_data.nord': '6567637.586',
  'vegreg_frapos.gnss_data.oest': '-33195.613',
  'vegreg_frapos.gnss_data.hoeyde': '14.465',
  'vegreg_frapos.gnss_data.avstand': '0.998'}]

In [74]:
xmltodict.parse( mydf.iloc[4063]['Beskrivelse'] )

{'vegreg_frapos': {'gnss_data': {'talker': 'GN',
   'mode': 'DD',
   'antsat': '17',
   'cq': '0.301',
   'nord': '6567637.586',
   'oest': '-33195.613',
   'hoeyde': '14.465',
   'avstand': '0.998'}}}

In [68]:
pd.json_normalize(  xmltodict.parse('<vegreg_frapos/>'), sep='_').to_dict(orient='records')

[{'vegreg_frapos': None}]

In [75]:
mydf['Beskrivelse'].fillna( '<vegreg_frapos/>', inplace=True)

In [114]:
def dekodbeskrivelse( besk:str ): 
    
    try: 
        mydict = xmltodict.parse(besk )
    except ExpatError as e: 
        # print(f"Feilsituasjon {e} for input {besk} " )
        return { 'ExpatError' : str(e) }

    else: 
        norm = pd.json_normalize( mydict ).to_dict( orient='records')

        if isinstance( norm, list) and len( norm) == 1 and isinstance( norm[0], dict): 
            return norm[0]
        else:
            print( f"Klarte ikke dekode {besk} ")
    
    return { 'error' : 'empty'}

In [113]:
mydf['Beskrivelse_normalisert'] = mydf['Beskrivelse'].apply(  dekodbeskrivelse )

In [116]:
dekodet = pd.DataFrame( list( mydf['Beskrivelse_normalisert']  ))

In [123]:
for mycol in dekodet.columns: 
    print( mycol, '==========\n', dekodet[mycol].value_counts(dropna=False), '\n')

ExpatError ==========
 NaN                                                   121904
unclosed token: line 1, column 36                       7128
unclosed token: line 1, column 251                      2903
unclosed token: line 1, column 250                       638
junk after document element: line 1, column 401          396
junk after document element: line 1, column 402          366
junk after document element: line 1, column 400          228
unclosed token: line 1, column 249                       147
unclosed token: line 1, column 252                       140
junk after document element: line 1, column 399          109
syntax error: line 1, column 0                           105
junk after document element: line 1, column 403           83
junk after document element: line 1, column 398           38
unclosed token: line 1, column 248                        20
junk after document element: line 1, column 404           14
not well-formed (invalid token): line 1, column 46         6
junk after document element: line 1, column 397            5
unclosed token: line 1, column 253                         4
not well-formed (invalid token): line 1, column 47         1
not well-formed (invalid token): line 1, column 45         1
junk after document element: line 1, column 215            1
junk after document element: line 1, column 213            1
junk after document element: line 1, column 396            1
Name: ExpatError, dtype: int64

vegreg_frapos.gnss_data.talker ==========
 GN      93263
GP      27391
NaN     13582
None        3
Name: vegreg_frapos.gnss_data.talker, dtype: int64

vegreg_frapos.gnss_data.mode ==========
 RR      73134
None    27399
NaN     13582
DD      11448
AA       5284
R        2755
D         463
A         173
RN          1
Name: vegreg_frapos.gnss_data.mode, dtype: int64

vegreg_frapos.gnss_data.antsat ==========
 14     14090
15     14071
NaN    13582
13     12826
16     11925
12     11192
17      9521
11      9388
10      7809
9       6310
18      5864
8       5188
7       3999
6       2928
19      2516
5       1705
20       844
4        289
21       169
22        12
3          5
0          3
23         2
1          1
Name: vegreg_frapos.gnss_data.antsat, dtype: int64

vegreg_frapos.gnss_data.cq ==========
 0.000    27398
NaN      13582
0.020     4661
0.019     4612
0.021     4567
         ...
3.774        1
3.538        1
2.005        1
1.330        1
3.371        1
Name: vegreg_frapos.gnss_data.cq, Length: 4961, dtype: int64

vegreg_frapos.gnss_data.nord ==========
 NaN            13582
6523363.000        5
6633478.244        5
6570081.140        5
6608932.140        4
               ...
7197837.936        1
7197833.647        1
7197833.638        1
7197840.586        1
6570916.230        1
Name: vegreg_frapos.gnss_data.nord, Length: 113251, dtype: int64

vegreg_frapos.gnss_data.oest ==========
 NaN           13582
293033.610        5
272130.230        5
-32447.976        5
278485.565        5
              ...
320959.536        1
320943.821        1
320947.228        1
320904.957        1
272119.070        1
Name: vegreg_frapos.gnss_data.oest, Length: 113305, dtype: int64

vegreg_frapos.gnss_data.hoeyde ==========
 NaN        13582
43.000        52
54.000        51
5.000         50
56.000        48
           ...
90.205         1
90.231         1
95.300         1
95.401         1
108.016        1
Name: vegreg_frapos.gnss_data.hoeyde, Length: 71278, dtype: int64

vegreg_frapos.gnss_data.avstand ==========
 NaN       13582
0.700       238
1.030       238
0.790       236
0.990       234
          ...
17.007        1
12.846        1
12.337        1
13.504        1
15.073        1
Name: vegreg_frapos.gnss_data.avstand, Length: 11903, dtype: int64

vegreg_frapos.vegref_forrige.fylke_nr ==========
 1      42054
2      18428
NaN    13794
16     12830
17     12550
18      8726
9       7012
5       4139
19      3407
8       3181
15      2004
20      1988
6       1450
7        725
10       575
14       485
4        317
11       253
3        211
12       110
Name: vegreg_frapos.vegref_forrige.fylke_nr, dtype: int64

vegreg_frapos.vegref_forrige.kommune_nr ==========
 0      120430
NaN     13794
36         15
Name: vegreg_frapos.vegref_forrige.kommune_nr, dtype: int64

vegreg_frapos.vegref_forrige.veg_kategori ==========
 F      106199
NaN     13794
R        8054
E        6177
K          15
Name: vegreg_frapos.vegref_forrige.veg_kategori, dtype: int64

vegreg_frapos.vegref_forrige.veg_status ==========
 V      114283
NaN     13794
G        6064
T          79
A          19
Name: vegreg_frapos.vegref_forrige.veg_status, dtype: int64

vegreg_frapos.vegref_forrige.veg_nr ==========
 NaN    13794
6       4113
22      2868
118     2523
21      2329
       ...
802        1
465        1
239        1
463        1
406        1
Name: vegreg_frapos.vegref_forrige.veg_nr, Length: 682, dtype: int64

vegreg_frapos.vegref_forrige.hp ==========
 1      60458
2      20738
NaN    13794
3       8080
4       3995
       ...
40         1
224        1
89         1
355        1
408        1
Name: vegreg_frapos.vegref_forrige.hp, Length: 166, dtype: int64

vegreg_frapos.vegref_forrige.meter ==========
 NaN      13794
0          201
1000       148
2000       139
3000       100
         ...
13327        1
14403        1
14755        1
12502        1
23149        1
Name: vegreg_frapos.vegref_forrige.meter, Length: 21218, dtype: int64

vegreg_tilpos.gnss_data.talker ==========
 NaN    133071
GN       1138
GP         30
Name: vegreg_tilpos.gnss_data.talker, dtype: int64

vegreg_tilpos.gnss_data.mode ==========
 NaN     133071
RR         717
AA         161
DD         117
R          109
None        41
D           13
A           10
Name: vegreg_tilpos.gnss_data.mode, dtype: int64

vegreg_tilpos.gnss_data.antsat ==========
 NaN    133071
16        142
14        141
15        132
13        116
17        109
12         86
11         79
10         65
7          65
18         54
9          52
8          49
6          37
19         18
5          15
4           5
20          2
21          1
Name: vegreg_tilpos.gnss_data.antsat, dtype: int64

vegreg_tilpos.gnss_data.cq ==========
 NaN      133071
0.019        69
0.020        65
0.022        59
0.025        54
          ...
5.116         1
5.203         1
5.153         1
0.179         1
0.840         1
Name: vegreg_tilpos.gnss_data.cq, Length: 355, dtype: int64

vegreg_tilpos.gnss_data.nord ==========
 NaN            133071
6703429.673         2
7800159.930         2
6570800.410         2
6570834.460         2
                ...
7391504.116         1
7391336.608         1
7391329.950         1
7391596.925         1
6600433.890         1
Name: vegreg_tilpos.gnss_data.nord, Length: 1133, dtype: int64

vegreg_tilpos.gnss_data.oest ==========
 NaN           133071
113962.493         2
-41572.861         2
298040.571         2
276185.318         2
               ...
427905.104         1
428092.232         1
428126.669         1
428467.217         1
309477.720         1
Name: vegreg_tilpos.gnss_data.oest, Length: 1134, dtype: int64

vegreg_tilpos.gnss_data.hoeyde ==========
 NaN        133071
37.390          3
88.790          3
96.222          2
48.252          2
            ...
17.241          1
25.559          1
37.636          1
20.762          1
133.740         1
Name: vegreg_tilpos.gnss_data.hoeyde, Length: 1154, dtype: int64

vegreg_tilpos.gnss_data.avstand ==========
 NaN      133071
0.700         4
0.920         4
1.520         4
1.130         4
          ...
5.127         1
1.338         1
1.276         1
4.215         1
1.640         1
Name: vegreg_tilpos.gnss_data.avstand, Length: 916, dtype: int64

vegreg_tilpos.vegref_forrige.fylke_nr ==========
 NaN    134007
2         104
1          62
18         36
20          9
12          9
3           3
5           3
11          2
6           1
14          1
16          1
7           1
Name: vegreg_tilpos.vegref_forrige.fylke_nr, dtype: int64

vegreg_tilpos.vegref_forrige.kommune_nr ==========
 NaN    134007
0         232
Name: vegreg_tilpos.vegref_forrige.kommune_nr, dtype: int64

vegreg_tilpos.vegref_forrige.veg_kategori ==========
 NaN    134007
F         175
E          31
R          26
Name: vegreg_tilpos.vegref_forrige.veg_kategori, dtype: int64

vegreg_tilpos.vegref_forrige.veg_status ==========
 NaN    134007
V         196
G          36
Name: vegreg_tilpos.vegref_forrige.veg_status, dtype: int64

vegreg_tilpos.vegref_forrige.veg_nr ==========
 NaN    134007
10         15
820        10
160         9
16          9
        ...
327         1
35          1
130         1
183         1
124         1
Name: vegreg_tilpos.vegref_forrige.veg_nr, Length: 84, dtype: int64

vegreg_tilpos.vegref_forrige.hp ==========
 NaN    134007
1          99
2          29
201        16
3          15
23         10
5           7
4           7
6           6
50          5
12          5
9           4
210         3
204         3
7           2
82          2
51          2
206         2
52          1
19          1
80          1
10          1
75          1
73          1
29          1
17          1
203         1
11          1
39          1
155         1
405         1
407         1
8           1
Name: vegreg_tilpos.vegref_forrige.hp, dtype: int64

vegreg_tilpos.vegref_forrige.meter ==========
 NaN      134007
4967          2
154           2
67            2
1253          2
          ...
4546          1
9056          1
24326         1
12615         1
23023         1
Name: vegreg_tilpos.vegref_forrige.meter, Length: 224, dtype: int64

vegreg_frapos ==========
 NaN    134239
Name: vegreg_frapos, dtype: int64

# Hvor mange gyldige datarader har vi? 

ExpatError = antall rader som feiler 

Alle andre rader = Antall rader med gyldige data (dvs totalt antall rader - rader med null, nan, none ... )

In [129]:
len( dekodet )  - dekodet.isnull().sum()

ExpatError                                    12335
vegreg_frapos.gnss_data.talker               120654
vegreg_frapos.gnss_data.mode                  93258
vegreg_frapos.gnss_data.antsat               120657
vegreg_frapos.gnss_data.cq                   120657
vegreg_frapos.gnss_data.nord                 120657
vegreg_frapos.gnss_data.oest                 120657
vegreg_frapos.gnss_data.hoeyde               120657
vegreg_frapos.gnss_data.avstand              120657
vegreg_frapos.vegref_forrige.fylke_nr        120445
vegreg_frapos.vegref_forrige.kommune_nr      120445
vegreg_frapos.vegref_forrige.veg_kategori    120445
vegreg_frapos.vegref_forrige.veg_status      120445
vegreg_frapos.vegref_forrige.veg_nr          120445
vegreg_frapos.vegref_forrige.hp              120445
vegreg_frapos.vegref_forrige.meter           120445
vegreg_tilpos.gnss_data.talker                 1168
vegreg_tilpos.gnss_data.mode                   1127
vegreg_tilpos.gnss_data.antsat                 1168
vegreg_tilpos.gnss_data.cq                     1168
vegreg_tilpos.gnss_data.nord                   1168
vegreg_tilpos.gnss_data.oest                   1168
vegreg_tilpos.gnss_data.hoeyde                 1168
vegreg_tilpos.gnss_data.avstand                1168
vegreg_tilpos.vegref_forrige.fylke_nr           232
vegreg_tilpos.vegref_forrige.kommune_nr         232
vegreg_tilpos.vegref_forrige.veg_kategori       232
vegreg_tilpos.vegref_forrige.veg_status         232
vegreg_tilpos.vegref_forrige.veg_nr             232
vegreg_tilpos.vegref_forrige.hp                 232
vegreg_tilpos.vegref_forrige.meter              232
vegreg_frapos                                     0
dtype: int64

In [112]:
mydf['lengde_Beskrivelsestekst'] = mydf['Beskrivelse'].apply( lambda x : len( x ) )

In [63]:
 pd.json_normalize(xmltodict.parse(  mydf.iloc[4063]['Beskrivelse'] ), sep='_').to_dict(orient='records')

[{'vegreg_frapos_gnss_data_talker': 'GN',
  'vegreg_frapos_gnss_data_mode': 'DD',
  'vegreg_frapos_gnss_data_antsat': '17',
  'vegreg_frapos_gnss_data_cq': '0.301',
  'vegreg_frapos_gnss_data_nord': '6567637.586',
  'vegreg_frapos_gnss_data_oest': '-33195.613',
  'vegreg_frapos_gnss_data_hoeyde': '14.465',
  'vegreg_frapos_gnss_data_avstand': '0.998'}]

In [62]:
mydf[ mydf['Beskrivelse'].str.contains('tilpos') ]['hvilkeForeldre'].value_counts()

7 Gjerde                  1117
20 Kantstolper/Refleks     741
3 Skjerm                   473
-99 Uten foreldre           11
Name: hvilkeForeldre, dtype: int64